@model List<PlayerWeekMatchupViewModel>

@{
    ViewBag.Title = "Week " + Model.FirstOrDefault().Week;
    //Layout = "~/Views/Shared/_NFLLayout.cshtml";
}

<h2>@Model.First().LeagueName</h2>

<div id="weekly-matchups" style="text-align:center">
    <h3>Week @Model.First().Week</h3>
    <img src="~/Images/football-helmet.png" id="helmet" />
    <table class="table">
        <tr>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
                -->
            <th style=" width:1px;">
                Game Date and Time
            </th>
            <th style="text-align:center; width:30%">
                Team
            </th>
            <th style="width:1px"></th>
            <th style="text-align:center; width:30%">
                Home Team
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Week)
                </td>
                    -->
                <td>                    
                    @string.Format("{0}, {1}/{2} @ {3}", item.DateAndTime.DayOfWeek, item.DateAndTime.Month, item.DateAndTime.Day, item.DateAndTime.ToShortTimeString())
                </td>
                <td id="V@(item.VisitorTeam.Id)" onclick="TeamToWinFade('V@(item.VisitorTeam.Id)', 'H@(item.HomeTeam.Id)')" style="text-align:center; background-color:@item.VisitorTeam.Colors.Split('|')[0]; color:@item.VisitorTeam.Colors.Split('|')[1]; cursor: pointer">

                    @Html.DisplayFor(modelItem => item.VisitorTeam.Name)

                </td>
                <td style="text-align:center">
                    @@
                </td>
                <td id="H@(item.HomeTeam.Id)" onclick="TeamToWinFade('H@(item.HomeTeam.Id)', 'V@(item.VisitorTeam.Id)')" style="text-align:center; background-color:@item.HomeTeam.Colors.Split('|')[0]; color:@item.HomeTeam.Colors.Split('|')[1]; cursor: pointer">

                    @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }

    </table>
</div>