<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
            $().ready(function () {
            $("body").css({ "background-color": '@ViewBag.BackColor', "color": '@ViewBag.ForeColor'});
            $(".team-colors").css({ "color": '@ViewBag.BackColor', "background-color": '@ViewBag.ForeColor'});
        });
        function TeamToWinFade(Winner, Loser) {
            $().ready(function () {
                $("#" + Winner).fadeTo('0.5', 1).css({ "cursor": "not-allowed" });
                $("#" + Loser).fadeTo('0.5', 0.5).css({ "cursor": "pointer" });
            });
        };
    </script>




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top team-colors">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand team-colors" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="team-colors">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "team-colors" })</li>
                    <li class="team-colors">@Html.ActionLink("About", "About", "Home", null, new { @class = "team-colors" })</li>
                    <li class="team-colors">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "team-colors" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
