@model IEnumerable<SurvivorLeague.Models.PlayerLeagueViewModel>

@{
    ViewBag.Title = "My Leagues";
}

<div>
    <div style="text-align:center;">
        <h2>@Session["PlayerName"].ToString().Split(' ')[0]'s Leagues</h2>
    </div>
</div>

<div>
    @{int count = 0;
        <div class="col-xs-4"></div>
        <div class="col-xs-4" style="text-align:center; font-size: medium;">
            <div class="league-type-header">NFL</div>
            @foreach (var league in Model.Where(m => m.LeagueType.ToUpper() == "NFL".ToUpper()).OrderBy(m => m.LeagueId))
            {
                string[] colors = new string[2];
                count++;
                if (count % 2 == 1)
                {
                    <div style="padding: 5px; background-color: @league.FavoriteTeamColors.Split('|')[0]; color: @league.FavoriteTeamColors.Split('|')[1];">
                        @Html.ActionLink(league.LeagueName, "League", league.LeagueType.ToUpper(), new { LeagueId = league.LeagueId, Season = 2017 }, new { @style = "color:" + @league.FavoriteTeamColors.Split('|')[1] })
                    </div>
                }
                else if (count % 2 == 0)
                {
                    <div style="padding: 5px; background-color: @league.FavoriteTeamColors.Split('|')[1]; color: @league.FavoriteTeamColors.Split('|')[0];">
                        @Html.ActionLink(league.LeagueName, "League", league.LeagueType.ToUpper(), new { LeagueId = league.LeagueId, Season = 2017 }, new { @style = "color:" + @league.FavoriteTeamColors.Split('|')[0] })
                    </div>

                }
                <div style="padding:1px;"></div>
            }
        </div>
        <div class="col-xs-4"></div>

        @*<div class="col-xs-6" style="text-align:center; font-size: medium;">
                <div class="league-type-header">MLB</div>
                @{ count = 0; }
                @foreach (var league in Model.Where(m => m.LeagueType.ToUpper() == "MLB".ToUpper()).OrderBy(m => m.LeagueId))
                {
                    string[] colors = new string[2];
                    count++;
                    if (count % 2 == 1)
                    {
                        <div style="padding: 5px; background-color: @league.FavoriteTeamColors.Split('|')[0]; color: @league.FavoriteTeamColors.Split('|')[1];">
                            @Html.ActionLink(league.LeagueName, "League", league.LeagueType.ToUpper(), new { LeagueId = league.LeagueId }, new { @style = "color:" + @league.FavoriteTeamColors.Split('|')[1] })
                        </div>
                    }
                    else if (count % 2 == 0)
                    {
                        <div style="padding: 5px; background-color: @league.FavoriteTeamColors.Split('|')[1]; color: @league.FavoriteTeamColors.Split('|')[0];">
                            @Html.ActionLink(league.LeagueName, "League", league.LeagueType.ToUpper(), new { LeagueId = league.LeagueId }, new { @style = "color:" + @league.FavoriteTeamColors.Split('|')[0] })
                        </div>

                    }
                }
            </div>*@
    }
</div>

<br />
<br />
<br />
<br />


